# Discord Bot Token
DISCORD_TOKEN=seu_token_aqui

# Discord Server Settings
SERVER_ID=seu_server_id
PANEL_CHANNEL_ID=seu_channel_id
ADMIN_ROLE_ID=seu_admin_role_id

# Database
DB_PATH=./data/panel.db

# Project Settings
PROJECT_NAME=Irish Lagger
PROJECT_PREFIX=/
